*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col2{
    flex-basis: 50%;
    min-width: 300px;

}
.col2 img{
   max-width: 100%;
   padding: 50px 0 ;

}
.col2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    transition: background 0.5;
}
.header{
    background: radial-gradient(white #ffd6d6);
}
.btn:hover{
    background: #563434;
}
.categries{
    margin: 70px 0;
}
.col3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col3 img{
    width: 100%;
}
.smallcontainer{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.col4{
     flex-basis: 25%;
     padding: 10px;
     min-width: 200px;
     margin-bottom: 50px;
     transition: transform
     0.5s;
     
}
.col4 img{
    width: 100%;
}
.col4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
 
}
.col4 img{
    width: 100%;

}
.tittle{
    text-align: center;
    margin:  0 auto 80px;
    position: relative;
    line-height: 60px;
    color: gray;
}
.tittle::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
     border-radius:5px ;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col4 p{
    font-size: 14px;

}
.rating .fa{
    color: #ff523b;

}
                     /* offer */
.offer{
    background: radial-gradient(#fff #ffd6d6);
    margin-top: 80px;
    padding: 30px 0 ;
}
small{
    color: #555;
}
.testimonial.col3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
.brands{
    margin: 100px auto;
}
.col5{
    width: 160px;

}
.col5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    /* footer */
}
.footer{
   background: #000;
   color: #8a8a8a;
   font-size: 14px;
   padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;

}.footercol1,.footercol2,.footercol3,.footercol4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footercol1{
    flex-basis: 30%;
}
.footercol2{
    flex: 1;
    text-align: center;
}
.footercol2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footercol3,.footercol4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.applogo{
    margin-top: 20px;
}
.applogoimg{
    width: 140px;
}
.footerhr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
    margin: 5px;
}
.menuicon{
    width: 28px;
    margin-left: 20px;
}
/* Media query menu */
